:root{
    --primary-text-color: #FFFFFF;
    --primary-bg-color: #F5F4FA;
    --dark-bg-color: #2F303A;
    --title-text-color:#000000;
    --accent-color:#2196F3;
    --first-contrast-text-color: #757575; 
    --second-contact-text-color:
    --text-color: 
    }


    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    ul,ol{
        margin:0;
        padding-left: 0;
    }

body {
    font-family: 'Roboto', sans-serif;
   
}





.link-current,.link {
    text-decoration: none;
    list-style-type:none;
    }
    a {
        text-decoration:none;
    }
    ul {
        list-style: none;
    }

    .visually-hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0;
        padding: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
      }

      img {
        display: block;
      }


      
/*==========================================HEADER=================================================*/

.container{
    padding-left: 15px;
    padding-right: 15px;
   
   /*outline: 2px solid tomato;*/
   
    width: 1200px;
    margin: 0 auto;
}

.container.main {
    display: flex;
    align-items: center;
    
   
}




.site-nav.list{
   
    display: flex;
    gap: 30px;
}






.header-page{
    background-color: var(--primary-text-color);
    border-bottom: 1px solid #ececec;
}



.header-logo{
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color); 
margin-right: 93px;
padding-top: 24px;
padding-bottom: 25px;

 

}

.logo-accent{
font-weight: 700;
font-size: 42;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--title-text-color);
 }

 .site-nav .link{

        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
        color: var(--dark-bg-color)
    }

    .current.link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--accent-color); 
    }

    .site-nav .link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;}

    

    
    
    .header-contact{
        display: flex;
    margin-left: auto;
     gap: 30px;

        }
    
    
    
    
      
        
    .header-contact .link{
        
        
       
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: #757575;
        }
       
    
    
        .logo-accent:hover,
        .logo-accent:focus{
    color: var(--accent-color);
        } 
    
    
        .site-nav .link:hover,
    .header-contact .link:hover,
    .header-contact .link:hover{
            color: var(--accent-color);
            text-align:left;
        }
    
        .site-nav .link:focus,
    .header-contact .link:focus,
    .header-contact .link:focus{
        fill: var(--accent-color);
        text-align:left;
        
    
    }

    

    .site-nav .icon:focus,
     .link:focus .icon,
     .link:hover .icon{
        fill: var(--accent-color);
        text-align:left;
        
    
    }
    





/*===============================================BUTTONS=============================================*/

    .button.secondary{
        cursor: pointer;
        padding: 6px 22px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        background-color: #F5F4FA;
        color: var(--title-text-color);
        border: 0;
        border-radius: 4px;

        
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

    }

    .button{
        

        color: var(--accent-color);
        background-color: var(--primary-text-color);

        padding: 10px 32px 10px 32px;
        
        
        
    }

    .button{
        color: var(--title-text-color);
        background-color: var(--primary-text-color);
       
       

        
    }

    .button-list .current,
    .button.secondary:hover,
    .button.secondary:focus{
        color: var(--primary-text-color);
        background-color: var(--accent-color);
    }


    .button-list{

        display: flex;
     margin-bottom: 50px;
     justify-content: center;
 
      
    }


    .button-list .btn+.btn {
        margin-left: 8px;
         }






/*==========================================HERO======================================================*/

.hero {
        
        
        background-color:#2F303A;
        color: #FFFFFF;
    }

    

    .hero-content{

        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;
    }

.hero-title{
font-weight: 900;
font-size: 44px;
line-height: 1.36;
margin-bottom: 30px;
max-width: 696px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-left: auto;
margin-right: auto;
        display: flex;

color: #FFFFFF;

    }
   
.button.primary {
    color: var(--primary-text-color);
    background-color: var(--accent-color);
    font-weight: 700;
        line-height: 1.87;
        display: flex;
        cursor: pointer;
        padding: 10px 32px 10px 32px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        margin:auto;
        font-family: inherit;
        border-radius: 4px;
        cursor: pointer;
        border: transparent;
    font-size: 16px;

   }

   .button.primary:hover,
   .button.primary:focus{
    background-color: rgba(24, 140, 232, 1);
    color:  var(--first-contrast-text-color);
   
   }

   

   


    

    
    

/*===========================================FEATURES=======================================================*/

.features-list{
    display: flex;
}

.features-list .item{
    margin-right: 30px;
    width: 270px;
    min-height: 75px;
    
}

.features {
    padding-top: 94px;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.features-list .item:last-child {
    margin-right: 0;
    }


.features-list {
    
}
.features-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
color: #212121;

}
.features-item {
}
.features-text {
    font-weight: 400;
font-size: 14px;
line-height: 1.71;


letter-spacing: 0.03em;

color: #757575;
}


/*=========================================SECTION========================================================*/

.section-list{
    display: flex;
    gap: 30px;
}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: #212121;
}
.section-list {
}
.srction-item {
}


/*=============================================TEAM=========================================================*/

.team {
    background-color: var(--primary-bg-color);
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

color: #212121;
}
.team-list {
    display: flex;
    gap: 30px;
}
.team-item {
}
.team-name {
    font-weight: 500;
font-size: 16px;
line-height: 1.18;
margin-top: 10px;
margin-bottom: 10px;

text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.team-position {
    font-weight: 400;
font-size: 16px;
line-height: 1.18;
margin-bottom: 30px;


text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.team-social {
}
.social-item {
}
.thumb{
    padding: 20px 24px;
}
.team-item{
    width: calc((100% - 60px) / 3);
    background-color: var(--primary-text-color);
    border: 1px solid #EEEEEE;}


/*===============================================FOOTER=======================================================*/


.footer {
    background-color: var(--dark-bg-color);
    
    padding-top: 62px;
    padding-bottom:  61px;
}
.footer-logo {
    
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color); 
    margin-bottom: 20px;  
     
    
    
}

.footer-logo-accent{
font-weight: 700;
font-size: 42;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--primary-text-color);

}

.footer-logo-accent:hover,
.footer-logo-accent:focus{
color: var(--accent-color);

}





.footer-address {
    
    margin-top: 20px;
}
.pre-address {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    
}
.contact {
    
}


.footer-address-contact{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
font-size: 14px;
line-height: 1,71;


letter-spacing: 0.03em;
margin-top: 9px;

display: block;
        
color: rgba(255, 255, 255, 0.6);
}

.footer-address-link{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-bottom: 9px;    
}

.footer-address-link:hover,
.footer-address-link:focus{
    color: var(--accent-color);

}

.footer-address-link{
    color: var(--primary-text-color);

}

.footer-address-contact:hover,
.footer-address-contact:focus{
color: var(--accent-color);

}





/*=========================================GALLERY===============================================*/

.main.galary {

    margin-top: 94px;
    margin-bottom: 50px;
}

.gallery.list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   
   
}

.photo{
    width: calc((100% - 60px) / 3);
    background-color: var(--primary-text-color);
    border: 1px solid #EEEEEE;
}

.content {
    padding: 20px 24px;
}







/*
.gallery.list>.photo {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: +30px;
    margin-top: +30px;
    background-color: var(--primary-bg);
    
    
}*/









   


 

    .poster-title{
    
        
        font-weight: 500;
        color: var(--title-text-color);
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 19px;
       
    
}

.poster-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.8;

margin-bottom: 20px;
letter-spacing: 0.03em;

color: #757575;
}


.gallery.list .content {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}




