.container{
    padding-left: 15px;
    padding-right: 15px;
   
   /*outline: 2px solid tomato;*/
   
    width: 1200px;
    margin: 0 auto;
  
}

.container.main {
    display: flex;
    align-items: center;
    
   
}