.team-social {
    display: flex;
    justify-content: center;
    gap: 10px;
   
   
}

.peter{
    padding: 20px 30px;
    
}
.team-item{
    width: calc((100% - 60px) / 3);
    background-color: var(--primary-text-color);
    border: 1px solid #EEEEEE;}

    .social-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon{
    fill: #AFB1B8;
}

.social-link:hover,
.social-link:focus{
    background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon{
    fill: var(--primary-text-color);
}